<div class="row">
    <div class="col-xl-12">

        <div class="card shadow mb-4">
            <div class="card-header card-header py-3 d-flex flex-row align-items-center"><label>Карта</label></div>
            <div class="card-body">
                <div id="map"></div>
            </div>
        </div>

    </div>
</div>