@model IEnumerable<Hackathon_TEK.ModelsView.RegionsInfo>

<div class="card-body">
    <table id="RegionsTable" class="table">
        <thead>
            <tr>
                <th></th>
                <th scope="col">Регион</th>
                <th scope="col">Вероятность ЧС</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>Id</td>
                    <td>@item.Name</td>
                    <td>@item.Probably</td>
                </tr>
            }
        </tbody>
    </table>
</div>

<script>
    initTable("RegionsTable", false, true, true, true, true, additionalOpt = opt);
</script>