@{ ViewData["Title"] = "Home"; }
@using Hackathon_TEK.Extensions

<script>
    function LoadList() {
        $("#listPartial").html();

        $.ajax({
            url: '@Url.Action("HomeView", "Home")',
            type: 'GET',
            data: { },
            success: function(result) {
                $("#listPartial").html(result);
            },
            complete: function () {
            }
        });
    }
    $(document).ready(function() {
        LoadList();
    });
</script>

<div class="row">
    <div class="col-xl-12">

        <div class="card shadow mb-4">
            <div class="card-body">
                <div style="text-align:center">

                    <span class="font-weight dates">
                        Выбор даты:
                    </span>

                    <input class="calendars" type="text" id="date" placeholder="Пожалуйста, выберите дату"
                           value="@DateTimeExtension.CurrentDateString()" onchange="init()" data-input>
                </div>
            </div>
        </div>

    </div>
</div>

<div id="listPartial"></div>